.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  background-color: #b3bab3;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.markedContainer{
  width: 30%;
  height: 500px;
  border: 2px solid teal;
  margin-top: 5%;
}
.markedHeader{
  text-align: center;
  background: teal;
  padding: 5%;
  color: white;
}
.previewContainer{
  width: 70%;
  border: 2px solid teal;
  background-color: #d8dba0;
  text-align: left;
  font-family: 'Anonymous Pro', sans-serif;
  font-size: 39;
  padding: 5px;
}
.previewHeader{
  color: white;
  text-align: center;
  background: teal;
  padding: 5%;
}
textarea{
  width: 99%;
  height: 100%;
  background: #e1f5e3;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  padding: 5px;
}

